/*

Typical Device breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}