@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --bg-body-color: #121214;
  --bg-cards-color: #201F24;
  --text-color: #251F24;
  --principal-color: #9e00b3;
  --button-color: #29292E;

}

html, body {
  font-size: 1.6rem;

  font-family: 'Roboto', sans-serif;
  background: var(--bg-body-color);
  color: white;
  
  width: 98%;
}

img{
  background-size: cover;
  width: 12rem;
  overflow: hidden;
  border-radius: 8px;
}

.cards{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: .5rem;
  margin: 1rem;
}

.card{
  background-color: var(--bg-cards-color);
  min-width: 30rem;
  max-width: 40rem;
  
  margin: .5rem;

  border-radius: 8px;
  border: 2px solid transparent;

  transition: .2s;
}

.card:hover{
  border: 2px solid var(--principal-color);
}

.content{
  margin: 2rem;
}

.top{
  display: flex;
  gap: .8rem;
}

.description{
  margin: 1rem 0;
  opacity: .9;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.links{
  display: flex;
  justify-content: space-evenly;
}

.links button{
  width: 47%;
  height: 4rem;

  background-color: var(--button-color);
  border: none;
  border-radius: 3px;

  transition: .2s;
}

.links button:hover{
  background-color: #323238;
}

.links a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.links i{
  font-size: 1.8rem;
  margin-left: .5rem;
  color: #e100ff;
}

footer{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

footer > a{
  text-decoration: none;
  color: white;
}

footer > a:hover{
  text-decoration: underline;
}