/*

Typical Device breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (max-width: 992px) {
  :root{
    font-size: 60%;
  }

  #page > *{
    width: 100%;
  }

  #page{
    display: grid;
    justify-content: center;
    height: 100vh;
  }

  #page > div{  
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0;
  }
  
  header{
    margin-bottom: 3rem;
  }

  main{
    margin-top: 0;
    min-width: 7rem;
  }

  div#page > img{
    display: none;
  }
}