@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box{
  padding: 32px;
  background-color: #fff;
  box-shadow: 0px 0px 32px rgba(0,0,0,.16);
  border-radius: 16px;

  width: fit-content;
}

#app{
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 24px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 700;
  color: #333;
}

header i{
  padding: 16px;
  border-radius: 50%;
  color: #666;
}

header i:hover{
  background-color: #ece0fd;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

main > div{
  width: 82px;
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  color: #666;
  cursor: pointer;
  transition: all .3s;
}

main > div:hover{
  background-color: #ece0fd;
  border-radius: 8px;
}

main > div.active{
  background-color: #6200ee;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;

  position: relative;
}

main > div.active::after{
  content: '';
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;

  position: absolute;
  bottom: 6px;
}