@media screen and (max-width: 768px) {
  :root{
    font-size: 50%;
  }
  .top{
    border-radius: 2.4rem;
    transition: .2s;
  }
  .middle{
    border-radius: 2.4rem;
    transition: .2s;
  }
  .bottom{
    border-radius: 2.4rem;
    transition: .2s;
  }
}

@media screen and (min-width: 768px){
  :root{
    font-size: 62.5%;
  }
 section{
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
}