@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html, body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: -0.02em;

  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat fixed;

  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  place-content: center;
}

.grid {
  display: grid;
}

.column {
  grid-auto-flow: column;
}

.text-right {
  text-align: right;
}

h1,
strong {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  text-align: center;
}

section {
  background-color: white;
  padding: 2.4rem 3.2rem;
}

p {
  color: rgba(0, 0, 0, 0.64);
  font-size: 1.4rem;
  line-height: 1.7rem;
}

strong{
  color: rgba(0, 0, 0, 0.88);
  font-size: 1.6rem;
  line-height: 1.9rem;
}

#boarding-pass {
  margin: auto;
}

#ticket {
  margin-top: 2rem;
  filter: drop-shadow(0px 4px 24px rgba(0,0,0,0.25));
}

.top {
  border-radius: 2.4rem 2.4rem 0 0;
  gap: 2.4rem;

  --mask: radial-gradient(1.2rem at 1.2rem bottom, transparent 95%, black) -1.2rem;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;

  transition: .2s;
}

.departure, .arrival{
  width: 12.5rem;
}

.departure strong, .arrival strong{
  font-size: 4rem;
  line-height: 4.7rem;
}

.airplane{
  align-self: center;
}

.top time{
  color: rgba(0, 0, 0, 0.8);
}

.top time sup{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;


}

dt time{
  padding: .4rem .8rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.9rem;
  background: #633bbc;
  border-radius: .8rem;
  display: inline-block;
  margin-top: .2rem;
}

.middle{
  border: 1px dashed rgba(0, 0, 0, 0.32);
  border-left: 0;
  border-right: 0;

  --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, transparent 95%, black) -1.2rem -1.2rem;
  transition: .2s;
}

.bottom {
  border-radius: 0 0 2.4rem 2.4rem;
  --mask: radial-gradient(1.2rem at 1.2rem top, transparent 95%, black) -1.2rem;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;

  transition: .2s;
}

.bottom .container {
  align-items: center;
  gap: 0.8rem;
}

dl.grid {
  gap: 1.6rem;
  min-width: 9.5rem;
}

.bottom > p {
  text-align: center;
  margin-top: 2.4rem; 
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
.qr-code > p{
  margin-top: .8rem;
}
.qr-code.grid{
  justify-items: center;
}
footer {
  width: 27rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  opacity: 0.64;
  color: white;
  text-align: center;
  margin: 2rem auto;
}
