@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background: #292738;
  color: white;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5.9rem;
}

#global-statics {
  display: grid;
  grid-template-areas: "A B C";
  align-items: stretch;
  gap: 3.2rem;
}

#nps-geral{
  grid-area: A;
}

#vendas-fechadas{
  grid-area: B;
}

#meta-mensal{
  grid-area: C;
}

#nps-geral,
#vendas-fechadas,
#meta-mensal {
  background-color: #363447;
  box-shadow: .3rem .4rem 2.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

#nps-geral .top,
#vendas-fechadas .top,
#meta-mensal .top {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 160%;
}

#nps-geral .top,
#vendas-fechadas .top,
#meta-mensal .top {
  margin: 2.9rem 9.1rem 3.2rem 9.1rem;
}

#nps-geral .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

#nps-geral .middle > img {
  width: 5.4rem;
  height: 5.4rem;
}

#nps-geral .middle > span {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 160%;

  color: #81fbb8;
}

#nps-geral .bottom {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 160%;

  margin-block: 3.2rem 2.9rem;
}

#nps-geral .bottom span {
  font-weight: 400;
}

#vendas-fechadas .middle,
#meta-mensal .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 19.7rem;
  height: 19.7rem;
  position: relative;
}

#vendas-fechadas .middle > small,
#meta-mensal .middle > small {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
}
#vendas-fechadas .middle span,
#meta-mensal .middle span {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 160%;
}

#vendas-fechadas .middle .bg-circle-progress,
#meta-mensal .middle .bg-circle-progress {
  width: 19.7rem;
  height: 19.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#vendas-fechadas .bottom,
#meta-mensal .bottom {
  display: flex;
  gap: 2.0rem;
  margin-bottom: 2.9rem;
  margin-inline: 4.8rem;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 160%;
}

#vendas-fechadas .bottom .left,
#vendas-fechadas .bottom .right,
#meta-mensal .bottom .left,
#meta-mensal .bottom .right {
  display: flex;
  gap: 1.0rem;
}

#vendas-fechadas .bottom .left div,
#vendas-fechadas .bottom .right div,
#meta-mensal .bottom .left div,
#meta-mensal .bottom .right div {
  display: flex;
  align-items: center;
  gap: .4rem;
}

#vendas-fechadas .bottom .left div img,
#vendas-fechadas .bottom .right div img,
#meta-mensal .bottom .left div img,
#meta-mensal .bottom .right div img {
width: 1.5rem;
height: 1.5rem;
}

#vendas-fechadas .bottom .left span,
#vendas-fechadas .bottom .right span,
#meta-mensal .bottom .left span,
#meta-mensal .bottom .right span {
  font-weight: 400;
}

#weekly {
  background-color: #363447;
  border-radius: 1.6rem;
  box-shadow: .3rem .4rem 2.6rem rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  padding: 2.9rem 4.8rem;
}

#weekly .title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 160%;
}

#weekly .content {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

#weekly .content .sell-statics {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#weekly .content .sell-statics .high,
#weekly .content .sell-statics .low {
  display: flex;
  flex-direction: column;
  gap: .8rem;

  font-weight: 500;
  font-size: 2.4rem;
  line-height: 160%;
}

#weekly .content .sell-statics .high span,
#weekly .content .sell-statics .low span {
  font-size: 1.4rem;
}

#weekly .content .graphic {
  display: flex;
  align-items: end;
  gap: 5.9rem;

  position: relative;
}

#weekly .content .graphic::after {
  content: "";
  background: #4a4556;
  border-radius: 999px;
  position: absolute;
  width: 52.3rem;
  height: .3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#weekly .content .graphic .days {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  z-index: 1;
}

#weekly .content .graphic .days .dom-bar {
  width: 1.5rem;
  height: 3.9rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

#weekly .content .graphic .days .seg-bar {
  width: 1.5rem;
  height: 11.5rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

#weekly .content .graphic .days .ter-bar {
  width: 1.5rem;
  height: 7.6rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

#weekly .content .graphic .days .qua-bar {
  width: 1.5rem;
  height: 15.9rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

#weekly .content .graphic .days .qui-bar {
  width: 1.5rem;
  height: 12.9rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

#weekly .content .graphic .days .sex-bar {
  width: 1.5rem;
  height: 12.0rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

#weekly .content .graphic .days .sab-bar {
  width: 1.5rem;
  height: 6.9rem;

  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}
