@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  font-size: 62.5%;
}

/* UTILITIES */

.flex-template {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body {
  font-size: 1.6rem;
  background: #1f2937;
}

form {
  padding: 2.4rem;
  max-width: 40rem;
  margin: auto;
}

#credit-card {
  width: 35.2rem;
  height: 21.2rem;

  perspective: 60rem;
  display: grid;
  justify-content: center;
}

#credit-card > div {
  width: inherit;
  height: inherit;

  position: absolute;
  display: grid;
  justify-self: center;
  z-index: 1000;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#credit-card .front {
  position: relative;
  width: 28rem;
  height: 16.8rem;

  background: #111827;
  border: 0.1rem solid #374151;
  box-shadow: 0rem 0.4rem 2.4rem rgba(0, 0, 0, 0.068);
  border-radius: 1.6rem;
}

#credit-card .front .background-blur {
  position: absolute;
  width: 28rem;
  height: 16.8rem;
  left: calc(50% - 28rem / 2);
  top: calc(50% - 16.8rem / 2);

  background: rgba(17, 24, 39, 0.4);
  backdrop-filter: blur(2.4rem);
  border-radius: 1.6rem;
}

#credit-card .front .front-icons {
  position: absolute;
  width: 23.2rem;
  height: 3.2rem;

  margin-top: 1.6rem;
  margin-inline: 2.4rem;
}

#credit-card .front .card-number {
  position: absolute;
  width: 23.2rem;
  height: 1.6rem;
  left: 2.4rem;
  top: calc(50% - 1.6rem / 2 + 1.2rem);
}

#credit-card .front .card-number div {
  color: #f9fafb;
  font-style: normal;
  font-weight: 600;

  display: flex;
  gap: 0.4rem;
  align-items: center;
}

#credit-card .front .card-number div span {
  display: flex;
  align-items: center;
}

#credit-card .front .info-card {
  position: absolute;
  width: 23.2rem;
  height: 1.6rem;
  left: 2.4rem;
  top: 12.8rem;

  color: #f9fafb;
}

#credit-card .front .info-card .name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0.5;
}

#credit-card .front .info-card .validity {
  display: flex;
  gap: 0.4rem;
}

#credit-card .front .info-card .validity span {
  display: flex;
  align-items: center;
}

#credit-card .back {
  width: 28rem;
  height: 16.8rem;

  background: #111827;
  border: 0.1rem solid #374151;
  box-shadow: 0rem 0.4rem 2.4rem rgba(0, 0, 0, 0.068);
  border-radius: 1.6rem;

  transform: rotateY(-180deg);
  top: -5px;
}

#credit-card .back .background-blur {
  position: absolute;
  width: 28rem;
  height: 16.8rem;
  left: calc(50% - 28rem / 2);
  top: calc(50% - 16.8rem / 2);

  background: rgba(17, 24, 39, 0.4);
  backdrop-filter: blur(2.4rem);
  border-radius: 1.6rem;
}

#credit-card .back .rectangle {
  position: absolute;
  width: 28rem;
  height: 3.2rem;
  left: 0rem;
  top: 1.6rem;

  background: #111827;
}

#credit-card .back .frame-cvv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  position: absolute;
  width: 23.2rem;
  height: 3.2rem;
  left: 2.4rem;
  top: 9.4rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: right;

  color: #e5e7eb;
}

#credit-card .back .frame-cvv .cvv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1.2rem;
  gap: 0.4rem;

  width: 20.1rem;
  height: 3.2rem;

  background: #d1d5db;
  border-radius: 0.4rem;
}

#credit-card .back .frame-cvv .cvv span {
  color: #111827;
}

#credit-card:active .front,
#credit-card:hover .front {
  transform: rotateY(180deg);
}

#credit-card:active .back,
#credit-card:hover .back {
  transform: rotateY(0deg);
}

.flex {
  display: flex;
}

.inputs {
  margin-top: 4.8rem;

  flex-direction: column;
  gap: 2.4rem;
}

label {
  font-weight: 600;
  font-size: 1.4rem;
  color: #e5e7eb;

  gap: 0.4rem;
  align-items: center;
}

input {
  margin-top: 0.4rem;
  width: 100%;

  padding: 1.2rem;
  border: 0.1rem solid #374151;
  background: #111827;
  border-radius: 0.4rem;
  color: #f3f4f6;
}

input:focus {
  border: 0.15rem solid #9333ea;
  outline: none;
}

input:invalid:focus {
  border: 0.15rem solid #fb7185;
}

input + .warning {
  display: none;
}

input:invalid:focus + .warning {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  color: #fb7185;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.col-2 {
  gap: 2.4rem;
  align-items: center;
}

.col-2 .input-wrapper:nth-child(2) {
  flex-basis: 40%;
}

.help img {
  width: 1.6rem;
  height: 1.6rem;
}

.info-security {
  margin-top: 4.8rem;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  color: #e5e7eb;
}

button {
  margin-top: 10rem;

  border: 0;
  padding: 1.6rem;
  width: 100%;
  background: #9333ea;
  box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #f9fafb;

  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #a855f7;
}
